@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<ERP.Language.SharedResource> localizer
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = localizer["Forgot password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @localizer["Please check your email to reset your password."]
</p>