@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<ERP.Language.SharedResource> localizer
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = localizer["Reset password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
   @localizer["Your password has been reset. Please"] <a asp-page="./Login">@localizer["click here to log in"]</a>.
</p>