[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
}

    /* "No se encontraron resultados" texto en datatables */
    [data-theme="dark"] div.dts div.dts_loading {
        color: #212121;
    }

    [data-theme="dark"] .content-wrapper {
        background-color: #111;
    }

    [data-theme="dark"] .bg-light {
        background-color: #333 !important;
    }

    [data-theme="dark"] .bg-white {
        background-color: #000 !important;
    }

    [data-theme="dark"] .bg-black {
        background-color: #eee !important;
    }

    [data-theme="dark"] .bg-thead {
        background-color: #343a40 !important;
    }

    [data-theme="dark"] .select2-results ul li {
        color: #000;
    }

    [data-theme="dark"] .select2-results__option--highlighted {
        color: #fff !important;
    }

    [data-theme="dark"] div.DTS div.dataTables_scrollBody table {
        background: inherit
    }

    [data-theme="dark"] .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
        background-color: #84B6F4 !important;
        color: white !important;
    }

    [data-theme="dark"] .search-control {
        color: white;
    }

    [data-theme="dark"] .table-hover tbody tr:hover {
        color: inherit;
        background-color: #343a40;
    }

    [data-theme="dark"] a.btn {
        color: white;
    }

    [data-theme="dark"] img.action-img-icon {
        filter: invert(1) !important;
    }

    [data-theme="dark"] img.sidebar-img-icon {
        width: 25.59px;
        height: 23px;
        filter: invert(95%) sepia(2%) saturate(1582%) hue-rotate(190deg) brightness(83%) contrast(96%) !important;
    }

    [data-theme="dark"] .nav-link:hover img.sidebar-img-icon {
        filter: invert(98%) sepia(2%) saturate(2%) hue-rotate(351deg) brightness(115%) contrast(100%) !important;
    }

    [data-theme="dark"] .modal-content.modal-confirm {
        background-color: #212121 !important;
        color: white !important;
    }

    /* Icono input date */
    [data-theme="dark"] ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    [data-theme="dark"] #dateFromFilter, [data-theme="dark"] #dateToFilter {
        border: 1px solid white !important;
    }

    /* Date range picker */
    [data-theme="dark"] .daterangepicker td.off, [data-theme="dark"] .daterangepicker td.off.in-range, [data-theme="dark"] .daterangepicker td.off.start-date, [data-theme="dark"] .daterangepicker td.off.end-date {
        background-color: transparent;
        color: rgba(200,200,200,0.5);
    }

    [data-theme="dark"] .daterangepicker {
        background-color: #212121 !important;
        color: #ebf4f0;
    }

        [data-theme="dark"] .daterangepicker .calendar-table {
            background-color: #212121 !important;
            border: none
        }

        [data-theme="dark"] .daterangepicker td, .daterangepicker th {
            text-align: center;
            width: 20px;
            height: 20px;
            border-radius: 4px;
            border: 1px solid transparent;
            white-space: nowrap;
            cursor: pointer;
        }

            [data-theme="dark"] .daterangepicker td.active, [data-theme="dark"] .daterangepicker td.active:hover {
                background-color: #84B6F4;
                color: #FFFFFF;
            }

            [data-theme="dark"] .daterangepicker td.available:hover, .daterangepicker th.available:hover {
                background-color: #eee;
                border-color: transparent;
                color: #212121;
            }

    [data-theme="dark"] .datepicker.dropdown-menu table {
        background-color: transparent;
    }

    [data-theme="dark"] .daterangepicker td.active.in-range {
        background-color: #84B6F4;
        color: #FFFFFF;
    }

    [data-theme="dark"] .daterangepicker td.in-range {
        background-color: rgba(37,47,57,0.9);
        color: #ebf4f8;
    }

    [data-theme="dark"] .daterangepicker select.monthselect {
        color: #ffffff;
        background: #212121;
    }

    [data-theme="dark"] .daterangepicker select.yearselect {
        color: #ffffff;
        background: #212121;
    }

    [data-theme="dark"] .daterangepicker .input-mini {
        color: #ebf4f8;
    }

    [data-theme="dark"] .daterangepicker .calendar-table .next span, [data-theme="dark"] .daterangepicker .calendar-table .prev span {
        color: #fff;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        border-radius: 0;
        display: inline-block;
        padding: 3px;
    }

    [data-theme="dark"] .daterangepicker .calendar-table .next:hover span, [data-theme="dark"] .daterangepicker .calendar-table .prev:hover span {
        color: #fff;
        border: solid black;
        border-width: 0 2px 2px 0;
        border-radius: 0;
        display: inline-block;
        padding: 3px;
    }

    [data-theme="dark"] input[name="daterange"] {
        background: #111;
        color: #FFFFFF;
    }

    [data-theme="dark"] .daterangepicker .input-mini {
        color: #212121 !important;
        background: #FFFFFF !important;
    }

    [data-theme="dark"] .daterangepicker .glyphicon-calendar {
        color: #212121 !important;
    }


    [data-theme="dark"] .bg-filter-custom, [data-theme="dark"] .bg-title-custom {
        background-color: #111;
    }

    /* For inputs on table */
    [data-theme="dark"] .custom-form-control {
        border: none !important;
        background: #212121 !important;
        color: #FFFFFF !important;
    }

    [data-theme="dark"] .ocBlackForTableIcon {
        filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(313deg) brightness(93%) contrast(107%) !important;
    }

    [data-theme="dark"] .darkModeIcon {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(198deg) brightness(103%) contrast(102%);
    }

    [data-theme="dark"] .filters {
        background-color: #828587;
    }

    [data-theme="dark"] .card {
        background-color: #212121;
    }
