@using Microsoft.AspNetCore.Mvc.Localization
@using ERP.Web.Areas.Clients.Models
@inject IHtmlLocalizer<ERP.Language.SharedResource> localizer
@model CommunicationViewModel

<div class="form-row">

    <div class="col-md-12 mb-3">
        <textarea disabled asp-for="Comments" name="Comments" class="form-control" id="Comments" rows="15"></textarea>
    </div>

</div>
